<button class="chat-bubble" (click)="toggleChat()">
  <img src="logo.png" alt="Chatbot" class="bubble-icon">
</button>

<div class="chat-container" *ngIf="chatAbierto">
  <div class="chat-header">
    InfoBot
    <button class="cerrar-btn" (click)="toggleChat()">✕</button>
  </div>

  <div class="chat-window">
    <div
      *ngFor="let msg of mensajes"
      class="mensaje"
      [ngClass]="msg.emisor === 'usuario' ? 'mensaje-usuario' : 'mensaje-bot'">
      {{ msg.texto }}
    </div>
  </div>

  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="mensajeUsuario"
      placeholder="Escribir aquí....."
      (keyup.enter)="enviarMensaje()">
    <button (click)="enviarMensaje()">Enviar</button>
  </div>
</div>